# Frontend
Frontend/portfolio-app/node_modules/
Frontend/portfolio-app/.nuxt/
Frontend/portfolio-app/.output/

# Backend
Backend/portfolio-backend/portfolio-backend/target/

# IDE
.vscode/
.idea/

# Env
.env